Repository THE-FIRST-DANCE/soomga-app, pull requests merged in 2024-04, with the labels that each got.

#45 Feature/#44 sos edit delete
  src/Screens/SosScreen/SosCreateScreen.tsx
  src/Screens/SosScreen/SosMapScreen.tsx
  src/Screens/SosScreen/SosScreen.tsx
  src/api/SosApi.ts
  src/components/Modal.tsx
  src/components/sos/FeedItem.tsx
  src/interface/Sos.ts
  src/interface/share.ts
  src/stacks/SosStack.tsx
Labels: ✨ Feature, 📬 API

#47 Feature/#46 notification
  App.tsx
  app.json
  eas.json
  package.json
  src/Screens/SosScreen/Sos.tsx
  src/Screens/SosScreen/SosCreateScreen.tsx
  src/Screens/SosScreen/SosMapScreen.tsx
  src/Screens/SosScreen/SosScreen.tsx
  src/components/sos/FeedComment.tsx
  src/components/sos/FeedItem.tsx
  src/components/sos/FeedSettingModal.tsx
  src/stacks/MainStack.tsx
  yarn.lock
Labels: ✨ Feature, 📬 API

#49 Feature/#48 place article list
  src/Screens/TouristScreen/TouristScreen.tsx
  src/api/TouristApi.ts
  src/components/Screen.tsx
  src/components/main/recommend/Place/Places.tsx
  src/components/tourist/TouristArticle.tsx
  src/hooks/plan/usePlanEdit.tsx
  src/interface/Tourist.ts
  src/modules/Area.ts
  src/stacks/MainStack.tsx
  src/stacks/TouristStack.tsx
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#52 Feature/#34 guide detail
  src/Screens/GuideScreen/GuideDetailScreen.tsx
  src/Screens/GuideScreen/GuideListScreen.tsx
  src/assets/busan.png
  src/assets/seoul.png
  src/assets/ulsan.png
  src/components/guide/GuideDetailPlan.tsx
  src/components/guide/GuideDetailReview.tsx
  src/components/guide/GuideDetailSchedule.tsx
  src/components/guide/GuideDetailService.tsx
  src/components/guide/GuideDetailinfo.tsx
  src/components/guide/GuideListInfo.tsx
  src/components/guide/GuideListPlan.tsx
  src/components/guide/GuideListService.tsx
  src/components/guide/ToolContainer.tsx
  src/data/guides.ts
  src/stacks/GuideStack.tsx
Labels: ✨ Feature, 🎨 Html&css

#53 Feature/#50 login
  App.tsx
  app.json
  env.d.ts
  package.json
  src/Screens/ProfileScreen/Profile.tsx
  src/Screens/ProfileScreen/Schedules.tsx
  src/Screens/ProfileScreen/TagEdit.tsx
  src/Screens/SignScreen/SignInScreen.tsx
  src/Screens/SignScreen/SignUpScreen.tsx
  src/api/LoginApi.ts
  src/api/PlanApi.ts
  src/components/icons/GoogleIcon.tsx
  src/components/icons/LineIcon.tsx
  src/components/loaders/LoadUserData.tsx
  src/components/loaders/UserLoader.tsx
  src/components/profile/Profile.tsx
  src/components/sign/InputText.tsx
  src/components/sign/NextButton.tsx
  src/stacks/HomeStack.tsx
  src/stacks/SignStack.tsx
  src/state/store/UserRecoil.tsx
  src/tabs/MainTabs.tsx
  yarn.lock
Labels: ✨ Feature, 📬 API
