Repository THE-FIRST-DANCE/soomga-app, pull requests merged in 2024-03, with the labels that each got.

#23 Feature/#22 plan select tab
  App.tsx
  package-lock.json
  package.json
  src/Screens/PlanPlaceSelectScreen/PlaceSelectScreen.tsx
  src/Screens/PlanPlaceSelectScreen/PlanPlaceSelectScreen.tsx
  src/api/PlanApi.ts
  src/components/plan/GoogleMap.tsx
  src/components/plan/PlaceSelectTab.tsx
  src/components/plan/PlaceSelectTabItem.tsx
  src/components/plan/PlaceSelectedListItem.tsx
  src/data/categories.ts
  src/hooks/useSubString.tsx
  src/modules/Color.ts
  src/navigation/Navigation.tsx
  src/stacks/PlanStack.tsx
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#25 Feature/#24 place search add
  src/Screens/PlanPlaceSelectScreen/PlaceSelectScreen.tsx
  src/Screens/PlanPlaceSelectScreen/PlanPlaceSelectScreen.tsx
  src/api/PlanApi.ts
  src/components/place/PlaceAddItem.tsx
  src/components/place/PlaceAddModal.tsx
  src/components/place/PlaceAddTab.tsx
  src/components/place/PlaceSelectTab.tsx
  src/components/place/PlaceSelectTabItem.tsx
  src/components/place/PlaceSelectedListItem.tsx
  src/components/plan/GoogleMap.tsx
  src/data/categories.ts
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#27 Feature/#26 place list route
  src/Screens/PlanConfirmScreen/PlanConfirmScreen.tsx
  src/Screens/PlanPlaceSelectScreen/PlanPlaceSelectScreen.tsx
  src/api/PlanApi.ts
  src/components/place/PlaceSelectTab.tsx
  src/components/place/PlaceSelectTabItem.tsx
  src/components/place/PlaceSelectedListItem.tsx
  src/components/plan/PlaceSelectedListItem.tsx
  src/components/plan/SelectTransportationModal.tsx
  src/hooks/useCalcurateTotalTime.tsx
  src/interface/Plan.ts
  src/stacks/PlanStack.tsx
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#31 Feature/#30 plan edit save
  package.json
  src/Screens/PlanConfirmScreen/PlanConfirmScreen.tsx
  src/Screens/PlanConfirmScreen/PlanEditScreen.tsx
  src/Screens/PlanCreateScreen/PlanCreateScreen.tsx
  src/Screens/PlanPlaceSelectScreen/PlaceSelectScreen.tsx
  src/Screens/PlanPlaceSelectScreen/PlanPlaceSelectScreen.tsx
  src/api/PlanApi.ts
  src/components/place/PlaceSelectTab.tsx
  src/components/place/PlaceSelectTabItem.tsx
  src/components/plan/GoogleMap.tsx
  src/components/plan/PlanConfirmPeriodModal.tsx
  src/components/plan/PlanEditHeader.tsx
  src/components/plan/PlanEditItem.tsx
  src/components/plan/PlanItem.tsx
  src/components/plan/PlanPlaceBoxItem.tsx
  src/hooks/plan/useConfirmPlanList.tsx
  src/hooks/plan/usePlanEdit.tsx
  src/stacks/PlanStack.tsx
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#36 Feature/#35 schedule
  package.json
  src/Screens/ScheduleScreen/ScheduleScreen.tsx
  src/components/main/Schedule/Schedules.tsx
  src/components/place/PlaceSelectTab.tsx
  src/interface/Event.ts
  src/navigation/Navigation.tsx
  src/stacks/HomeStack.tsx
  src/stacks/MainStack.tsx
  src/stacks/ScheduleStack.tsx
  src/tabs/MainTabs.tsx
  yarn.lock
Labels: ✨ Feature, 🔨 Refactor

#38 Feature/#37 event handler
  package.json
  src/Screens/PlanConfirmScreen/PlanConfirmScreen.tsx
  src/Screens/ScheduleScreen/ScheduleCreateScreen.tsx
  src/Screens/ScheduleScreen/ScheduleDetailScreen.tsx
  src/Screens/ScheduleScreen/ScheduleScreen.tsx
  src/api/EventApi.ts
  src/api/PlanApi.ts
  src/components/Modal.tsx
  src/components/plan/PlanItem.tsx
  src/components/plan/SelectTransportationModal.tsx
  src/components/schedule/DateTimeSection.tsx
  src/components/schedule/PlanSelectSection.tsx
  src/hooks/plan/useConfirmPlanList.tsx
  src/hooks/plan/usePlanConfirm.tsx
  src/stacks/PlanStack.tsx
  src/stacks/ScheduleStack.tsx
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#40 Feature/#39 sos
  env.d.ts
  package.json
  src/Screens/ScheduleScreen/ScheduleCreateScreen.tsx
  src/Screens/SosScreen/SosCreateScreen.tsx
  src/Screens/SosScreen/SosMapScreen.tsx
  src/Screens/SosScreen/SosScreen.tsx
  src/api/SosApi.ts
  src/components/Modal.tsx
  src/components/Screen.tsx
  src/components/plan/GoogleMap.tsx
  src/components/sos/FeedItem.tsx
  src/hooks/useFormatDate.tsx
  src/interface/Sos.ts
  src/interface/share.ts
  src/modules/Status.ts
  src/stacks/SosStack.tsx
  src/state/store/SosRecoil.tsx
  src/tabs/MainTabs.tsx
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#42 Feature/#41 sos comments
  src/Screens/SosScreen/SosMapScreen.tsx
  src/Screens/SosScreen/SosScreen.tsx
  src/api/SosApi.ts
  src/components/Loading.tsx
  src/components/Modal.tsx
  src/components/sos/FeedComment.tsx
  src/components/sos/FeedItem.tsx
  src/interface/Sos.ts
  src/interface/share.ts
  src/modules/Color.ts
Labels: ✨ Feature, 📬 API

#43 Feature/#33 guide list
  babel.config.js
  package.json
  src/Screens/ChatScreen/Chat.tsx
  src/Screens/GuideScreen/GuideListScreen.tsx
  src/Screens/GuideScreen/GuideRegionTagSelect.tsx
  src/Screens/MainScreen/Main.tsx
  src/Screens/ProfileScreen/Profile.tsx
  src/Screens/ProfileScreen/Schedules.tsx
  src/Screens/ProfileScreen/TagEdit.tsx
  src/Screens/SosScreen/Sos.tsx
  src/components/Modal.tsx
  src/components/Plan.tsx
  src/components/guide/CheckboxComponent.tsx
  src/components/guide/GuideFilter.tsx
  src/components/guide/GuideListInfo.tsx
  src/components/guide/GuideListPlan.tsx
  src/components/guide/GuideListService.tsx
  src/components/guide/GuideModal.tsx
  src/components/guide/MatchingButton.tsx
  src/components/guide/RegionSelect.tsx
  src/components/guide/SelectComponent.tsx
  src/components/guide/SliderComponent.tsx
  src/components/guide/TagSettings.tsx
  src/components/main/Tags.tsx
  src/components/main/recommend/Guide/Guide.tsx
  src/components/main/recommend/Guide/Guides.tsx
  src/data/guides.ts
  src/data/tags.ts
  src/modules/Color.ts
  src/navigation/NavigationProps.tsx
  src/stacks/GuideStack.tsx
  src/stacks/HomeStack.tsx
  src/state/store/GuideFilterRecoil.tsx
  src/tabs/MainTabs.tsx
  tsconfig.json
  yarn.lock
Labels: ✨ Feature, 🎨 Html&css
